!!! XML
!!!
%html
  %head
    %title dragon.blog
    = css_include_tag :layout, :html, :light, :dark
  %body
    = js_include_tag :jquery, :application
    .content
      .width#header
        %img{:src => 'images/logo.gif'}
        %ul
          %li
            = link_to('Home', resource(:posts))
          %li
            = link_to('About us', '#')
          %li
            - unless session.user.nil?
              = link_to('Log Out', :logout)
            - else
              = link_to('Log In', :login)
          %li
            = link_to('RSS', resource(:posts, :format => 'xml'))
      .width#headerImg